
<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title><img src="../assets/imaginaciones/logotipo_corporativo-internacionalista.png" style="max-height: 89px;"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-title size="large" class="ion-padding">404</ion-title>
</ion-content>

<ion-footer collapse="fade" class="ion-text-center">
  <ion-toolbar>
    <ion-title slot="start" [routerLink]="['/home']">Inicio</ion-title><ion-title (click)="myBackButton()">Volver</ion-title>
  </ion-toolbar>
</ion-footer>